# Exploration

In this notebook we explore different aspects of the given earthquake data.

### Preliminaries

Import the required depndencies.

In [4]:
import numpy as np
import pandas as pd
import sklearn

Load the data.

In [5]:
X = pd.read_csv('../data/raw/train_values.csv')
y = pd.read_csv('../data/raw/train_labels.csv')

### General Properties

In [6]:
X.head(15)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0
5,333020,8,558,6089,2,10,9,5,t,r,...,1,0,0,0,0,0,0,0,0,0
6,728451,9,475,12066,2,25,3,4,n,r,...,0,0,0,0,0,0,0,0,0,0
7,475515,20,323,12236,2,0,8,6,t,w,...,0,0,0,0,0,0,0,0,0,0
8,441126,0,757,7219,2,15,8,6,t,r,...,0,0,0,0,0,0,0,0,0,0
9,989500,26,886,994,1,0,13,4,t,i,...,0,0,0,0,0,0,0,0,0,0
10,7962,17,1119,12188,2,20,9,6,t,r,...,0,0,0,0,0,0,0,0,0,0
11,452227,17,1275,4004,1,10,8,4,t,u,...,0,0,0,0,0,0,0,0,0,0
12,444381,12,335,8167,2,15,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
13,287845,17,817,6284,3,45,7,7,t,r,...,0,0,0,0,0,0,0,0,0,0
14,605134,18,1295,6994,2,25,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y.head(10)

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3
5       333020             2
6       728451             3
7       475515             1
8       441126             2
9       989500             1

### Analysis of the distribution of individual features

### Analysis of missing and default values, as well as finding uninformative columns

### Analysis of relationships between features

### Analysis of relationships of features to target

### Conclusions